body{
	background-color: #efffff
}
h1 {
	font-size: 70px;
	text-shadow: rgb(255, 91, 10) 1px 0 20px;
	color: #ffffff;
}
body{
	font-size: 20px;
}
button {
	text-align: center;
    font-size: 24px;       
    padding: 12px 40px;
    background-color: #3498db;
    color: white; 
    border-radius: 12px;  
    cursor: pointer; 
  }
.weather-item{
	margin: 7px auto;  
	width: 400px;  
	padding: 12px 40px;
	background-color: #65d6ff;
    color: white; 
    border-radius: 12px; 
}
