h1 {
	text-shadow: navy 1px 0 15px;
	color: #ffffff;
}

h2 {
    text-shadow: 2px 2px white;
	color: #3f3faf;
	background: linear-gradient(0.25turn,rgba(228, 243, 255, 0.578), #91edff);
}

p {
    font-weight: bold;
}
div#zentai {
	display: grid;
	grid-template-columns:  1fr;
	grid-auto-rows: 200px 200px;
	grid-gap: 10px;
}
div#zentai > div {
	background-color: #b1e4ff26;
	padding: 5px;
}
.sen{
    border: thick double  rgb(89, 147, 160);
}