p {
	color: navy;
}

p.info {
	font-size: small;
	background-color: #dfdfdf;
}

h1 {
	text-shadow: navy 1px 0 10px;
	color: #ffffff;
}

h2 {
	color: #3f3faf;
	background: linear-gradient(0.4turn,white, #ffefaf);
	margin: 5px;
}

div#zentai {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: 200px 200px;
	grid-gap: 10px;
}

div#zentai > div {
	background-color: #ffefaf;
	padding: 5px;
}

img.sing{
	float:right;
}
